
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
    max-width 100%;
}

    header {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
        background-color: #d7a04d;
        opacity: 0.6;
        background-image:  linear-gradient(30deg, #9ac8f4 12%, transparent 12.5%, transparent 87%, #9ac8f4 87.5%, #9ac8f4), linear-gradient(150deg, #9ac8f4 12%, transparent 12.5%, transparent 87%, #9ac8f4 87.5%, #9ac8f4), linear-gradient(30deg, #9ac8f4 12%, transparent 12.5%, transparent 87%, #9ac8f4 87.5%, #9ac8f4), linear-gradient(150deg, #9ac8f4 12%, transparent 12.5%, transparent 87%, #9ac8f4 87.5%, #9ac8f4), linear-gradient(60deg, #9ac8f477 25%, transparent 25.5%, transparent 75%, #9ac8f477 75%, #9ac8f477), linear-gradient(60deg, #9ac8f477 25%, transparent 25.5%, transparent 75%, #9ac8f477 75%, #9ac8f477);
        background-size: 18px 32px;
        background-position: 0 0, 0 0, 9px 16px, 9px 16px, 0 0, 9px 16px;
        font-size: x-large;
    }
  
    body {
        margin: 0;
        font-size: large;
        text-align: center;
    }
  
    #countdownTimer {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        margin-right: 5%;
    }

    #score_keeper {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        margin-left: 5%;
    }


    #scoreDisplay {
        float: left;
        color: rgb(232, 105, 9);
        margin-left: 5px;
    }
  
    #scoreDisplay:hover {
        background-color: #dc05f8;
        color: black;
    }
  
    button {
        background-color: rgb(229, 69, 1);
        color: white;
        width: auto;
        border-radius: 15px;
        height: 50px;
        font-size: larger;
    }


    button:hover {
        color: rgb(0, 34, 202);
    }

    .container {
        text-align: center;
        font-size: 60px;
        margin-top: 0px;
    }
